{% extends "base_site.html" %}

{% block title %} Contacts {% endblock title %}

{% block stylesheets %}
    {{ super() }}
    <style>
        /* It's supposed to look like a tree diagram */
        .tree, .tree ul, .tree li {
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
        }

        .tree {
            margin: 0 0 1em;
            text-align: center;
        }

        .tree, .tree ul {
            display: table;
        }

        .tree ul {
            width: 100%;
        }

        .tree li {
            display: table-cell;
            padding: .5em 0;
            vertical-align: top;
        }

        /* _________ */
        .tree li:before {
            outline: solid 1px #666;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        .tree li:first-child:before {
            left: 50%;
        }

        .tree li:last-child:before {
            right: 50%;
        }

        .tree code, .tree span {
            border: solid .1em #666;
            border-radius: .2em;
            display: inline-block;
            margin: 0 .2em .5em;
            padding: .2em .5em;
            position: relative;
        }

        /* If the tree represents DOM structure */
        .tree code {
            font-family: monaco, Consolas, 'Lucida Console', monospace;
        }

        /* | */
        .tree ul:before,
        .tree code:before,
        .tree span:before {
            outline: solid 1px #666;
            content: "";
            height: .5em;
            left: 50%;
            position: absolute;
        }

        .tree ul:before {
            top: -.5em;
        }

        .tree code:before,
        .tree span:before {
            top: -.55em;
        }

        /* The root node doesn't connect upwards */
        .tree > li {
            margin-top: 0;
        }

        .tree > li:before,
        .tree > li:after,
        .tree > li > code:before,
        .tree > li > span:before {
            outline: none;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Plain Page</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Plain Page</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <figure>
                                <figcaption>Example DOM structure diagram</figcaption>
                                <ul class="tree">
                                    <li><code>html</code>
                                        <ul>
                                            <li><code>head</code>
                                                <ul>
                                                    <li><code>title</code></li>
                                                </ul>
                                            </li>
                                            <li><code>body</code>
                                                <ul>
                                                    <li><code>header</code>
                                                        <ul>
                                                            <li><code>h1</code></li>
                                                            <li><code>p</code></li>
                                                        </ul>
                                                    </li>
                                                    <li><code>nav</code>
                                                        <ul>
                                                            <li><code>a</code></li>
                                                            <li><code>a</code></li>
                                                            <li><code>a</code></li>
                                                            <li><code>a</code></li>
                                                        </ul>
                                                    </li>
                                                    <li><code>main</code>
                                                        <ul>
                                                            <li><code>h1</code></li>
                                                            <li><code>article</code>
                                                                <ul>
                                                                    <li><code>h2</code></li>
                                                                    <li><code>p</code></li>
                                                                    <li><code>p</code></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><code>aside</code>
                                                        <ul>
                                                            <li><code>h2</code></li>
                                                            <li><code>p</code></li>
                                                            <li><code>p</code>
                                                                <ul>
                                                                    <li><code>a</code></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><code>footer</code>
                                                        <ul>
                                                            <li><code>nav</code>
                                                                <ul>
                                                                    <li><code>a</code></li>
                                                                    <li><code>a</code></li>
                                                                    <li><code>a</code></li>
                                                                    <li><code>a</code></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </figure>
                            <figure>
                                <figcaption>Example DOM structure diagram</figcaption>
                                <ul class="tree">
                                    <li><code>html</code>
                                        <ul>
                                            <li><code>head</code>
                                                <ul>
                                                    <li><code>title</code></li>
                                                </ul>
                                            </li>
                                            <li><code>body</code>
                                                <ul>
                                                    <li><code>header</code>
                                                        <ul>
                                                            <li><code>h1</code></li>
                                                            <li><code>p</code></li>
                                                        </ul>
                                                    </li>
                                                    <li><code>nav</code>
                                                        <ul>
                                                            <li><code>a</code></li>
                                                            <li><code>a</code></li>
                                                            <li><code>a</code></li>
                                                            <li><code>a</code></li>
                                                        </ul>
                                                    </li>
                                                    <li><code>main</code>
                                                        <ul>
                                                            <li><code>h1</code></li>
                                                            <li><code>article</code>
                                                                <ul>
                                                                    <li><code>h2</code></li>
                                                                    <li><code>p</code></li>
                                                                    <li><code>p</code></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><code>aside</code>
                                                        <ul>
                                                            <li><code>h2</code></li>
                                                            <li><code>p</code></li>
                                                            <li><code>p</code>
                                                                <ul>
                                                                    <li><code>a</code></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><code>footer</code>
                                                        <ul>
                                                            <li><code>nav</code>
                                                                <ul>
                                                                    <li><code>a</code></li>
                                                                    <li><code>a</code></li>
                                                                    <li><code>a</code></li>
                                                                    <li><code>a</code></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </figure>
                            <figure>
                                <figcaption>Пример графовой базы данных</figcaption>
                                <ul class="tree">
                                    <li><span>Бизнес</span>
                                        <ul>
                                            <li><span>About us</span>
                                                <ul>
                                                    <li><span>Our history</span>
                                                        <ul>
                                                            <li><span>Founder</span></li>
                                                        </ul>
                                                    </li>
                                                    <li><span>Our board</span>
                                                        <ul>
                                                            <li><span>Brad Whiteman</span></li>
                                                            <li><span>Cynthia Tolken</span></li>
                                                            <li><span>Bobby Founderson</span></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><span>Our products</span>
                                                <ul>
                                                    <li><span>The Widget 2000™</span>
                                                        <ul>
                                                            <li><span>Order form</span></li>
                                                        </ul>
                                                    </li>
                                                    <li><span>The McGuffin V2</span>
                                                        <ul>
                                                            <li><span>Order form</span></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><span>Contact us</span>
                                                <ul>
                                                    <li><span>Social media</span>
                                                        <ul>
                                                            <li><span>Facebook</span></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </figure>
                            <figure>
                                <figcaption>Пример графовой базы данных</figcaption>
                                <ul class="tree">
                                    <li><span>business</span>
                                        <ul>
                                            <li><span>taskTracker</span>
                                                <ul>
                                                    <li><span>vcs</span>
                                                        <ul>
                                                            <li><span>PR</span>
                                                                <ul>
                                                                    <li><span>codeReview</span></li>
                                                                </ul>
                                                            </li>
                                                            <li><span>devFlow</span>
                                                                <ul>
                                                                    <li><span>gitFlow</span></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><span>optimisation</span>
                                                <ul>
                                                    <li><span>programmingLanguages</span>
                                                        <ul>
                                                            <li><span>archPatterns</span>
                                                                <ul>
                                                                    <li><span>modules</span></li>
                                                                    <li><span>microservices</span></li>
                                                                </ul>
                                                            </li>
                                                            <li><span>OOP</span>
                                                                <ul>
                                                                    <li><span>oopType</span>
                                                                        <ul>
                                                                            <li><span>oopTemplates</span></li>
                                                                            <li><span>oopClassic</span>
                                                                                <ul>
                                                                                    <li><span>javaOOP</span></li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li><span>dataTypes</span></li>
                                                            <li><span>algorithms</span></li>
                                                        </ul>
                                                    </li>
                                                    <li><span>hardware</span>
                                                        <ul>
                                                            <li><span>CPU</span>
                                                                <ul>
                                                                    <li><span>cpuCache</span></li>
                                                                </ul>
                                                            </li>
                                                            <li><span>RAM</span></li>
                                                            <li><span>kernel</span></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
{% endblock javascripts %}
