{% extends "base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
    {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Полный граф навыков</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="sample">
                                <div id="myDiagramDiv" style="border: solid 1px black; width:100%; height:1000px;"></div>
{#                                <p>https://www.16personalities.com/ru/test-lichnosti</p>#}
<!--                                                                <button id="SaveButton" onclick="save()">Save</button>-->
<!--                                                                <button onclick="load()">Load</button>-->
<!--                                <button onclick="layoutAll()">Layout</button>-->
<!--                                Diagram Model saved in JSON format:-->
                                <br/>
                                <textarea id="mySavedModel" style="width:100%;height:500px; display: none">
{ "class": "TreeModel",
  "nodeDataArray": [
{"key":0, "text":"business", "loc":"1 72", "scale":1.1},
{"text":"Soft skills", "brush":"red", "dir":"right", "parent":0, "key":-21, "loc":"77.43891601562501 83.25", "font":"bold 13px sans-serif"},
{"text":"Hard skills", "brush":"red", "dir":"left", "parent":0, "key":-22, "loc":"-18.99999999999997 83.25", "font":"bold 13px sans-serif", "scale":1.1},
{"text":"Тип личности", "brush":"red", "dir":"right", "parent":-21, "key":-46, "loc":"158.846142578125 83.25"},
{"text":"Аналитики", "brush":"lightcoral", "dir":"right", "parent":-46, "key":-47, "loc":"259.873974609375 -72.75"},
{"text":"Дипломаты", "brush":"darkseagreen", "dir":"right", "parent":-46, "key":-48, "loc":"259.873974609375 31.25"},
{"text":"Хранители", "brush":"skyblue", "dir":"right", "parent":-46, "key":-49, "loc":"259.873974609375 135.25"},
{"text":"Искатели", "brush":"coral", "dir":"right", "parent":-46, "key":-50, "loc":"259.873974609375 239.25"},
{"text":"Артист", "brush":"coral", "dir":"right", "parent":-50, "key":-51, "loc":"336.088818359375 200.25"},
{"text":"Делец", "brush":"coral", "dir":"right", "parent":-50, "key":-52, "loc":"336.088818359375 226.25"},
{"text":"Развлекатель", "brush":"coral", "dir":"right", "parent":-50, "key":-53, "loc":"336.088818359375 252.25"},
{"text":"Виртуоз", "brush":"coral", "dir":"right", "parent":-50, "key":-54, "loc":"336.088818359375 278.25"},
{"text":"Администратор", "brush":"skyblue", "dir":"right", "parent":-49, "key":-55, "loc":"344.899365234375 96.25"},
{"text":"Защитник", "brush":"skyblue", "dir":"right", "parent":-49, "key":-56, "loc":"344.899365234375 122.25"},
{"text":"Менеджер", "brush":"skyblue", "dir":"right", "parent":-49, "key":-57, "loc":"344.899365234375 148.25"},
{"text":"Консул", "brush":"skyblue", "dir":"right", "parent":-49, "key":-58, "loc":"344.899365234375 174.25"},
{"text":"Стратег", "brush":"lightcoral", "dir":"right", "parent":-47, "key":-59, "loc":"343.966259765625 -111.75"},
{"text":"Ученый", "brush":"lightcoral", "dir":"right", "parent":-47, "key":-60, "loc":"343.966259765625 -85.75"},
{"text":"Командир", "brush":"lightcoral", "dir":"right", "parent":-47, "key":-61, "loc":"343.966259765625 -59.75"},
{"text":"Полемист", "brush":"lightcoral", "dir":"right", "parent":-47, "key":-62, "loc":"343.966259765625 -33.75"},
{"text":"Активист", "brush":"darkseagreen", "dir":"right", "parent":-48, "key":-63, "loc":"349.120556640625 -7.75"},
{"text":"Посредник", "brush":"darkseagreen", "dir":"right", "parent":-48, "key":-64, "loc":"349.120556640625 18.25"},
{"text":"Тренер", "brush":"darkseagreen", "dir":"right", "parent":-48, "key":-65, "loc":"349.120556640625 44.25"},
{"text":"Борец", "brush":"darkseagreen", "dir":"right", "parent":-48, "key":-66, "loc":"349.120556640625 70.25"},
{"text":"Python", "brush":"red", "dir":"left", "parent":-22, "key":-25, "loc":"-111.33090820312498 -126.0369873046875"},
{"text":"Java", "brush":"red", "dir":"left", "parent":-22, "key":-26, "loc":"-111.33090820312498 292.5369873046875"},
{"text":"Django", "brush":"red", "dir":"left", "parent":-25, "key":-28, "loc":"-171.80356445312498 -382.1109619140625"},
{"text":"API", "brush":"red", "dir":"left", "parent":-25, "key":-29, "loc":"-171.80356445312498 -356.1109619140625"},
{"text":"Agile", "brush":"red", "dir":"left", "parent":-25, "key":-30, "loc":"-171.80356445312498 -330.1109619140625"},
{"text":"Docker", "brush":"red", "dir":"left", "parent":-25, "key":-31, "loc":"-171.80356445312498 -304.1109619140625"},
{"text":"Linux", "brush":"red", "dir":"left", "parent":-25, "key":-32, "loc":"-171.80356445312498 -278.1109619140625"},
{"text":"Machine Learning", "brush":"red", "dir":"left", "parent":-25, "key":-34, "loc":"-171.80356445312498 -252.1109619140625"},
{"text":"Git", "brush":"red", "dir":"left", "parent":-25, "key":-36, "loc":"-171.80356445312498 -226.1109619140625"},
{"text":"Continues Integration", "brush":"red", "dir":"left", "parent":-25, "key":-37, "loc":"-171.80356445312498 -200.1109619140625"},
{"text":"SQL", "brush":"red", "dir":"left", "parent":-25, "key":-38, "loc":"-171.80356445312498 -161.1109619140625"},
{"text":"React", "brush":"red", "dir":"left", "parent":-25, "key":-39, "loc":"-171.80356445312498 -129.9630126953125"},
{"text":"Flask", "brush":"red", "dir":"left", "parent":-25, "key":-40, "loc":"-171.80356445312498 -103.9630126953125"},
{"text":"REST", "brush":"red", "dir":"left", "parent":-25, "key":-41, "loc":"-171.80356445312498 -77.9630126953125"},
{"text":"PostgressSQL", "brush":"red", "dir":"left", "parent":-25, "key":-42, "loc":"-171.80356445312498 -51.9630126953125"},
{"text":"DevOps", "brush":"red", "dir":"left", "parent":-25, "key":-43, "loc":"-171.80356445312498 13.0369873046875"},
{"text":"Microservices", "brush":"red", "dir":"left", "parent":-25, "key":-44, "loc":"-171.80356445312498 78.0369873046875"},
{"text":"Go", "brush":"red", "dir":"left", "parent":-25, "key":-45, "loc":"-171.80356445312498 104.0369873046875"},
{"text":"Security", "brush":"red", "dir":"left", "parent":-25, "key":-68, "loc":"-171.80356445312498 130.0369873046875"},
{"text":"ООП", "brush":"red", "dir":"left", "parent":-26, "key":-70, "loc":"-161.33090820312498 156.0369873046875"},
{"text":"Паттерны проектирования", "brush":"red", "dir":"left", "parent":-26, "key":-71, "loc":"-161.33090820312498 182.0369873046875"},
{"text":"SQL", "brush":"red", "dir":"left", "parent":-26, "key":-72, "loc":"-161.33090820312498 221.0369873046875"},
{"text":"XML", "brush":"red", "dir":"left", "parent":-26, "key":-73, "loc":"-161.33090820312498 247.0369873046875"},
{"text":"JDBC", "brush":"red", "dir":"left", "parent":-26, "key":-74, "loc":"-161.33090820312498 273.0369873046875"},
{"text":"Hibernate ", "brush":"red", "dir":"left", "parent":-26, "key":-75, "loc":"-161.33090820312498 299.0369873046875"},
{"text":"Spring", "brush":"red", "dir":"left", "parent":-26, "key":-76, "loc":"-161.33090820312498 325.0369873046875"},
{"text":"Scala", "brush":"red", "dir":"left", "parent":-26, "key":-77, "loc":"-161.33090820312498 351.0369873046875"},
{"text":"Unit tests", "brush":"red", "dir":"left", "parent":-26, "key":-78, "loc":"-161.33090820312498 377.0369873046875"},
{"text":"Git ", "brush":"red", "dir":"left", "parent":-26, "key":-79, "loc":"-161.33090820312498 403.0369873046875"},
{"text":"Scrum", "brush":"red", "dir":"left", "parent":-26, "key":-80, "loc":"-161.33090820312498 429.0369873046875"},
{"text":"AWS", "brush":"red", "dir":"left", "parent":-43, "key":-87, "loc":"-238.76352539062498 -25.9630126953125"},
{"text":"Cloud Computing", "brush":"red", "dir":"left", "parent":-43, "key":-88, "loc":"-238.76352539062498 0.0369873046875"},
{"text":"Kubernetes", "brush":"red", "dir":"left", "parent":-43, "key":-89, "loc":"-238.76352539062498 26.0369873046875"},
{"text":"Google Cloud Platform", "brush":"red", "dir":"left", "parent":-43, "key":-67, "loc":"-238.76352539062498 52.0369873046875"},
{"text":"MySQL", "brush":"red", "dir":"left", "parent":-38, "key":-69, "loc":"-221.80356445312498 -174.1109619140625"},
{"text":"PostgresSQL", "brush":"red", "dir":"left", "parent":-38, "key":-90, "loc":"-221.80356445312498 -148.1109619140625"},
{"text":"MySQL", "brush":"red", "dir":"left", "parent":-72, "key":-91, "loc":"-211.33090820312498 208.0369873046875"},
{"text":"PostgresSQL", "brush":"red", "dir":"left", "parent":-72, "key":-92, "loc":"-211.33090820312498 234.0369873046875"},
{"text":"MVC ", "brush":"red", "dir":"left", "parent":-71, "key":-93, "loc":"-341.685400390625 182.0369873046875"},
{"text":"SOLID", "brush":"red", "dir":"left", "parent":-70, "key":-94, "loc":"-211.33090820312498 156.0369873046875"}
 ]}
  </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendors/go-debug.js') }}"></script>
    <script id="code">
        function init() {
            var $ = go.GraphObject.make;

            myDiagram =
                $(go.Diagram, "myDiagramDiv",
                    {
                        // when the user drags a node, also move/copy/delete the whole subtree starting with that node
                        "commandHandler.copiesTree": true,
                        "commandHandler.copiesParentKey": true,
                        "commandHandler.deletesTree": true,
                        "draggingTool.dragsTree": true,
                        "undoManager.isEnabled": true
                    });

            // when the document is modified, add a "*" to the title and enable the "Save" button
            myDiagram.addDiagramListener("Modified", function (e) {
                var button = document.getElementById("SaveButton");
                if (button) button.disabled = !myDiagram.isModified;
                var idx = document.title.indexOf("*");
                if (myDiagram.isModified) {
                    if (idx < 0) document.title += "*";
                } else {
                    if (idx >= 0) document.title = document.title.substr(0, idx);
                }
            });

            // a node consists of some text with a line shape underneath
            myDiagram.nodeTemplate =
                $(go.Node, "Vertical",
                    {selectionObjectName: "TEXT"},
                    $(go.TextBlock,
                        {
                            name: "TEXT",
                            minSize: new go.Size(30, 15),
                            editable: true
                        },
                        // remember not only the text string but the scale and the font in the node data
                        new go.Binding("text", "text").makeTwoWay(),
                        new go.Binding("scale", "scale").makeTwoWay(),
                        new go.Binding("font", "font").makeTwoWay()),
                    $(go.Shape, "LineH",
                        {
                            stretch: go.GraphObject.Horizontal,
                            strokeWidth: 3, height: 3,
                            // this line shape is the port -- what links connect with
                            portId: "", fromSpot: go.Spot.LeftRightSides, toSpot: go.Spot.LeftRightSides
                        },
                        new go.Binding("stroke", "brush"),
                        // make sure links come in from the proper direction and go out appropriately
                        new go.Binding("fromSpot", "dir", function (d) {
                            return spotConverter(d, true);
                        }),
                        new go.Binding("toSpot", "dir", function (d) {
                            return spotConverter(d, false);
                        })),
                    // remember the locations of each node in the node data
                    new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                    // make sure text "grows" in the desired direction
                    new go.Binding("locationSpot", "dir", function (d) {
                        return spotConverter(d, false);
                    })
                );

            // selected nodes show a button for adding children
            myDiagram.nodeTemplate.selectionAdornmentTemplate =
                $(go.Adornment, "Spot",
                    $(go.Panel, "Auto",
                        // this Adornment has a rectangular blue Shape around the selected node
                        $(go.Shape, {fill: null, stroke: "dodgerblue", strokeWidth: 3}),
                        $(go.Placeholder, {margin: new go.Margin(4, 4, 0, 4)})
                    ),
                    // and this Adornment has a Button to the right of the selected node
                    $("Button",
                        {
                            alignment: go.Spot.Right,
                            alignmentFocus: go.Spot.Left,
                            click: addNodeAndLink  // define click behavior for this Button in the Adornment
                        },
                        $(go.TextBlock, "+",  // the Button content
                            {font: "bold 8pt sans-serif"})
                    )
                );

            // the context menu allows users to change the font size and weight,
            // and to perform a limited tree layout starting at that node
            myDiagram.nodeTemplate.contextMenu =
                $("ContextMenu",
                    $("ContextMenuButton",
                        $(go.TextBlock, "Bigger"),
                        {
                            click: function (e, obj) {
                                changeTextSize(obj, 1.1);
                            }
                        }),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Smaller"),
                        {
                            click: function (e, obj) {
                                changeTextSize(obj, 1 / 1.1);
                            }
                        }),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Bold/Normal"),
                        {
                            click: function (e, obj) {
                                toggleTextWeight(obj);
                            }
                        }),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Copy"),
                        {
                            click: function (e, obj) {
                                e.diagram.commandHandler.copySelection();
                            }
                        }),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Delete"),
                        {
                            click: function (e, obj) {
                                e.diagram.commandHandler.deleteSelection();
                            }
                        }),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Undo"),
                        {
                            click: function (e, obj) {
                                e.diagram.commandHandler.undo();
                            }
                        }),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Redo"),
                        {
                            click: function (e, obj) {
                                e.diagram.commandHandler.redo();
                            }
                        }),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Layout"),
                        {
                            click: function (e, obj) {
                                var adorn = obj.part;
                                adorn.diagram.startTransaction("Subtree Layout");
                                layoutTree(adorn.adornedPart);
                                adorn.diagram.commitTransaction("Subtree Layout");
                            }
                        }
                    )
                );

            // a link is just a Bezier-curved line of the same color as the node to which it is connected
            myDiagram.linkTemplate =
                $(go.Link,
                    {
                        curve: go.Link.Bezier,
                        fromShortLength: -2,
                        toShortLength: -2,
                        selectable: false
                    },
                    $(go.Shape,
                        {strokeWidth: 3},
                        new go.Binding("stroke", "toNode", function (n) {
                            if (n.data.brush) return n.data.brush;
                            return "black";
                        }).ofObject())
                );

            // the Diagram's context menu just displays commands for general functionality
            myDiagram.contextMenu =
                $("ContextMenu",
                    $("ContextMenuButton",
                        $(go.TextBlock, "Paste"),
                        {
                            click: function (e, obj) {
                                e.diagram.commandHandler.pasteSelection(e.diagram.toolManager.contextMenuTool.mouseDownPoint);
                            }
                        },
                        new go.Binding("visible", "", function (o) {
                            return o.diagram && o.diagram.commandHandler.canPasteSelection(o.diagram.toolManager.contextMenuTool.mouseDownPoint);
                        }).ofObject()),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Undo"),
                        {
                            click: function (e, obj) {
                                e.diagram.commandHandler.undo();
                            }
                        },
                        new go.Binding("visible", "", function (o) {
                            return o.diagram && o.diagram.commandHandler.canUndo();
                        }).ofObject()),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Redo"),
                        {
                            click: function (e, obj) {
                                e.diagram.commandHandler.redo();
                            }
                        },
                        new go.Binding("visible", "", function (o) {
                            return o.diagram && o.diagram.commandHandler.canRedo();
                        }).ofObject()),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Save"),
                        {
                            click: function (e, obj) {
                                save();
                            }
                        }),
                    $("ContextMenuButton",
                        $(go.TextBlock, "Load"),
                        {
                            click: function (e, obj) {
                                load();
                            }
                        })
                );

            myDiagram.addDiagramListener("SelectionMoved", function (e) {
                var rootX = myDiagram.findNodeForKey(0).location.x;
                myDiagram.selection.each(function (node) {
                    if (node.data.parent !== 0) return; // Only consider nodes connected to the root
                    var nodeX = node.location.x;
                    if (rootX < nodeX && node.data.dir !== "right") {
                        updateNodeDirection(node, "right");
                    } else if (rootX > nodeX && node.data.dir !== "left") {
                        updateNodeDirection(node, "left");
                    }
                    layoutTree(node);
                });
            });

            // read in the predefined graph using the JSON format data held in the "mySavedModel" textarea
            load();
        }

        function spotConverter(dir, from) {
            if (dir === "left") {
                return (from ? go.Spot.Left : go.Spot.Right);
            } else {
                return (from ? go.Spot.Right : go.Spot.Left);
            }
        }

        function changeTextSize(obj, factor) {
            var adorn = obj.part;
            adorn.diagram.startTransaction("Change Text Size");
            var node = adorn.adornedPart;
            var tb = node.findObject("TEXT");
            tb.scale *= factor;
            adorn.diagram.commitTransaction("Change Text Size");
        }

        function toggleTextWeight(obj) {
            var adorn = obj.part;
            adorn.diagram.startTransaction("Change Text Weight");
            var node = adorn.adornedPart;
            var tb = node.findObject("TEXT");
            // assume "bold" is at the start of the font specifier
            var idx = tb.font.indexOf("bold");
            if (idx < 0) {
                tb.font = "bold " + tb.font;
            } else {
                tb.font = tb.font.substr(idx + 5);
            }
            adorn.diagram.commitTransaction("Change Text Weight");
        }

        function updateNodeDirection(node, dir) {
            myDiagram.model.setDataProperty(node.data, "dir", dir);
            // recursively update the direction of the child nodes
            var chl = node.findTreeChildrenNodes(); // gives us an iterator of the child nodes related to this particular node
            while (chl.next()) {
                updateNodeDirection(chl.value, dir);
            }
        }

        function addNodeAndLink(e, obj) {
            var adorn = obj.part;
            var diagram = adorn.diagram;
            diagram.startTransaction("Add Node");
            var oldnode = adorn.adornedPart;
            var olddata = oldnode.data;
            // copy the brush and direction to the new node data
            var newdata = {text: "idea", brush: olddata.brush, dir: olddata.dir, parent: olddata.key};
            diagram.model.addNodeData(newdata);
            layoutTree(oldnode);
            diagram.commitTransaction("Add Node");

            // if the new node is off-screen, scroll the diagram to show the new node
            var newnode = diagram.findNodeForData(newdata);
            if (newnode !== null) diagram.scrollToRect(newnode.actualBounds);
        }

        function layoutTree(node) {
            if (node.data.key === 0) {  // adding to the root?
                layoutAll();  // lay out everything
            } else {  // otherwise lay out only the subtree starting at this parent node
                var parts = node.findTreeParts();
                layoutAngle(parts, node.data.dir === "left" ? 180 : 0);
            }
        }

        function layoutAngle(parts, angle) {
            var layout = go.GraphObject.make(go.TreeLayout,
                {
                    angle: angle,
                    arrangement: go.TreeLayout.ArrangementFixedRoots,
                    nodeSpacing: 5,
                    layerSpacing: 20,
                    setsPortSpot: false, // don't set port spots since we're managing them with our spotConverter function
                    setsChildPortSpot: false
                });
            layout.doLayout(parts);
        }

        function layoutAll() {
            var root = myDiagram.findNodeForKey(0);
            if (root === null) return;
            myDiagram.startTransaction("Layout");
            // split the nodes and links into two collections
            var rightward = new go.Set(/*go.Part*/);
            var leftward = new go.Set(/*go.Part*/);
            root.findLinksConnected().each(function (link) {
                var child = link.toNode;
                if (child.data.dir === "left") {
                    leftward.add(root);  // the root node is in both collections
                    leftward.add(link);
                    leftward.addAll(child.findTreeParts());
                } else {
                    rightward.add(root);  // the root node is in both collections
                    rightward.add(link);
                    rightward.addAll(child.findTreeParts());
                }
            });
            // do one layout and then the other without moving the shared root node
            layoutAngle(rightward, 0);
            layoutAngle(leftward, 180);
            myDiagram.commitTransaction("Layout");
        }

        // Show the diagram's model in JSON format
        function save() {
            document.getElementById("mySavedModel").value = myDiagram.model.toJson();
            myDiagram.isModified = false;
        }

        function load() {
            myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
        }

        init()
    </script>
{% endblock javascripts %}

