{% extends "base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Страничка HR</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Контент</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>

              <div class="col-md-12 col-md-12 col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Вакансии <small>Для вывода полной информации кликните по вакансии</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Должность</th>
                    <th>Отдел</th>
                    <th>Краткое описание</th>
                    <th>Количество откликов</th>
                    <th>Взаимодействие</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>DevOps</td>
                    <td>IT отдел</td>
                    <td>Необходим инженер со знанием Jenkins, Docker, Python</td>
                    <th>4</th>
                    <th>
                      <a href="/HR_content/vacancy" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Просмотреть </a>
                      <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Изменить </a>
                      <a href="#" class="btn btn-success btn-xs"><i class="fa fa-area-chart"></i> Анализировать </a>
                      <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Удалить </a>

                    </th>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Бизнес-аналитик</td>
                    <td>Отдел продаж</td>
                    <td>Необходим аналитик по продажам чего-нибудь</td>
                    <th>32</th>
                    <th>
                      <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Просмотреть </a>
                      <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Изменить </a>
                      <a href="#" class="btn btn-success btn-xs"><i class="fa fa-area-chart"></i> Анализировать </a>
                      <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Удалить </a>

                    </th>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Системный администратор</td>
                    <td>IT отдел</td>
                    <td>Необходим сисадмин со знанием Linux, Windows 10/Server 2008, CCleaner</td>
                    <th>7</th>
                    <th>
                      <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Просмотреть </a>
                      <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Изменить </a>
                      <a href="#" class="btn btn-success btn-xs"><i class="fa fa-area-chart"></i> Анализировать </a>
                      <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Удалить </a>

                    </th>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

              <div class="x_content">
                  Add content to the page ...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}

