{% extends "base_site.html" %}

{% block title %} Inbox {% endblock title %}

{% block stylesheets %}
    {{ super() }}
    <!-- bootstrap-wysiwyg -->
    <link href="{{ url_for('static', filename='vendors/google-code-prettify/bin/prettify.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.buttons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.nonblock.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Унификация коммуникации с кандидатом</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-3 mail_list_column">
                            <button id="compose" class="btn btn-sm btn-success btn-block" type="button">
                                Новый диалог
                            </button>
                            <a href="#">
                                <div class="mail_list">
                                    <div class="left">
                                        <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                                    </div>
                                    <div class="right">
                                        <h3>Петров Петр Петрович <small>09:00</small></h3>
                                        <p>Вакансия Интернет-банк - Python Разработчик (Senior)</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="mail_list">
                                    <div class="left">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="right">
                                        <h3>
                                            Еремеев Артемий Александрович <small>10:00</small></h3>
                                        <p><span class="badge">To</span> Вакансия DevOps - Специалист по инфраструктуре
                                            (K8S, Jenkins)</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="mail_list">
                                    <div class="left">
                                        <i class="fa fa-circle-o"></i><i class="fa fa-paperclip"></i>
                                    </div>
                                    <div class="right">
                                        <h3>Ефремов Даниил Иванович <small>11:00</small></h3>
                                        <p><span class="badge">CC</span> Вакансия Мобильное приложение - Инженер
                                            сопровождения Платформы (SRE, DevOps)</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="mail_list">
                                    <div class="left">
                                        <i class="fa fa-paperclip"></i>
                                    </div>
                                    <div class="right">
                                        <h3>Климов Платон Петрович <small>12:00</small></h3>
                                        <p> Вакансия Мобильное приложение - iOS Разработчик (Swift, Kotlin)</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="mail_list">
                                    <div class="left">
                                        .
                                    </div>
                                    <div class="right">
                                        <h3>Козлова Анна Данииловна <small>13:00</small></h3>
                                        <p>Вакансия Big Data - Data Scientist (Python, Docker)</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="mail_list">
                                    <div class="left">
                                        .
                                    </div>
                                    <div class="right">
                                        <h3>Маркина Милана Артемьевна <small>14:00</small></h3>
                                        <p>Вакансия Big Data - Data Engineer (Python, Tensorflow)</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="mail_list">
                                    <div class="left">
                                        <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                                    </div>
                                    <div class="right">
                                        <h3>Морозов Михаил Романович <small>15:00</small></h3>
                                        <p>Вакансия HR-департамент - Старший аналитик (Visual Paradigm)</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="mail_list">
                                    <div class="left">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="right">
                                        <h3>Павловская София Никитична<small>16:00</small></h3>
                                        <p>Вакансия Интернет-банк - Java Разработчик (Junior)</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- /MAIL LIST -->

                        <!-- CONTENT MAIL -->
                        <div class="col-sm-9 mail_view">
                            <div class="inbox-body">
                                <div class="sender-info">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong>Петров Петр Петрович</strong>
                                            <span>(petrov@gmail.com)</span> написал
                                            <strong>вам</strong>
                                            <a class="sender-dropdown"><i class="fa fa-chevron-down"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-mail"><br/>
                                    <p> Петр, добрый день!</p>
                                    <p> Меня зовут Капитан, я представляю нашу компанию.</p>
                                    <p> Мы часть технологической платформы и создаём сервисы, которые будут
                                        использовать миллионы клиентов. Наша команда развивает продукты для
                                        разработки, исполнения и администрирования бизнес процессов и задач.</p>
                                    <p> Нас заинтересовал Ваш опыт. Вам было бы интересно рассмотреть нашу позицию
                                        Python Разработчик (Senior).</p>
                                    <p> По условиям ориентируемся на финансовые пожелания кандидата + достойные годовые
                                        премии.</p>
                                    <p> Заранее благодарю за любую обратную связь!</p>
                                    <p> P.S. Если Вас заинтересует направляю подробное описание нашей вакансии.</p>
                                    <b><p> «Газпромбанк» приглашает в молодую амбициозную команду Python Разработчик
                                        (Senior) для создания новых продуктов!</p></b>
                                    <b><p>О компании Газпромбанк</p></b>
                                    <ul>
                                        <li> Мы - технологический двигатель. Мы создаём технологии,
                                            позволяющие достигать всё более высоких результатов.
                                        </li>
                                        <li> Мы - продуктовая компания. Создаваемые нами продукты включают
                                            технологические и прикладные сервисы технологической платформы,
                                            но не ограничены ими.
                                        </li>
                                        <li> Мы - инженерная компания. Все наши сотрудники, независимо от роли и
                                            должности, должны обладать инженерным мышлением.
                                        </li>
                                    </ul>

                                    <b><p> Перед тем как перейти к этапу интервью с руководителем командым просим вас
                                        ознакомиться с тестами на тип личности и техническими навыками. Тесты
                                        представлены в приложении. </p></b>

                                    <p>
                                        <b>С уважением,<br/>
                                            Острые предметы</b><br/>
                                        Старший инженер по разработке<br/>
                                    </p>
                                </div>
                                <div class="attachment">
                                    <ul>
                                        <li>
                                            <div class="file-name" style="font-size: 13px">
                                                hard.xi
                                            </div>
                                            <span>40MB</span>

                                            <div class="links">
                                                <a href="#" style="font-size: 16px">Пройти тест</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="file-name" style="font-size: 13px">
                                                soft.xi
                                            </div>
                                            <span>30MB</span>

                                            <div class="links">
                                                <a href="#" style="font-size: 16px">Пройти тест</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-group">

                                    <button class="btn btn-sm btn-primary" type="button" onclick="new PNotify({
                            title: 'Сообщение отправлено!',
                            text: 'Информация направлена кандидату',
                            type: 'success',
                            styling: 'bootstrap3'
                        });"><i class="fa fa-reply"></i> Отправить
                                    </button>
                                    <button class="btn btn-sm btn-default" type="button" data-placement="top"
                                            data-toggle="tooltip" data-original-title="Forward"><i
                                            class="fa fa-share"></i></button>
                                    <button class="btn btn-sm btn-default" type="button" data-placement="top"
                                            data-toggle="tooltip" data-original-title="Print"><i
                                            class="fa fa-print"></i></button>
                                    <button class="btn btn-sm btn-default" type="button" data-placement="top"
                                            data-toggle="tooltip" data-original-title="Trash"><i
                                            class="fa fa-trash-o"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- /CONTENT MAIL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>
{% endblock javascripts %}
