{% extends "base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
    {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
    <div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Вакансия "Python"</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">

    <!-- Table of mans -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Все резюме</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings">
                            <th>
                                <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">ФИО</th>
                            <th class="column-title">Дата отклика</th>
                            <th class="column-title">Резюме</th>
                            <th class="column-title">Процент соотвествия</th>
                            <th class="column-title" style="width: 20%">Взаимодействие</th>
                            <th class="bulk-actions" colspan="5">
                                <a class="antoo" style="color:#fff; font-weight:500;">Что делаем? ( <span
                                        class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="even pointer">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">Петров Петр Петрович</td>
                            <td class=" ">November 28, 2020 10:20:11 PM</td>
                            <td class=" ">Java (Разработчик)</td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal="91"></div>
                                </div>
                                <small>91% Соответствия</small>
                            </td>
                            <td>
                                <a href="/HR_content/profile_Petrov" class="btn btn-primary btn-xs">
                                    <i class="fa fa-folder"></i>Просмотреть резюме </a>
                                <a href="/HR_content/HR_inbox" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>
                                    Отправить тест</a>
                                <a href="/HR_content/HR_calendar" class="btn btn-success btn-xs">
                                    <i class="fa fa-calendar"></i> Назначить собеседование</a>
                            </td>
                        </tr>
                        <tr class="odd pointer">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">Николаев Николай Николаевич</td>
                            <td class=" ">May 23, 2014 11:30:12 PM</td>
                            <td class=" ">Python (Разработчик)</td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal="81"></div>
                                </div>
                                <small>81% Соответствия</small>
                            </td>
                            <td>
                                <a href="/HR_content/profile_Nicolaev" class="btn btn-primary btn-xs">
                                    <i class="fa fa-folder"></i>Просмотреть резюме </a>
                                <a href="/HR_content/HR_inbox" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>
                                    Отправить тест</a>
                                <a href="/HR_content/HR_calendar" class="btn btn-success btn-xs"><i class="fa fa-calendar">
                                    </i> Назначить собеседование </a>
                            </td>
                        </tr>
                        <tr class="even pointer">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">Иванов Иван Иванович</td>
                            <td class=" ">May 23, 2014 11:47:56 PM</td>
                            <td class=" ">Java (Разработчик)</td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-red" role="progressbar"
                                         data-transitiongoal="7"></div>
                                </div>
                                <small>7% Соответствия</small>
                            </td>
                            <td>
                                <a href="/HR_content/profile_Ivanov" class="btn btn-primary btn-xs">
                                    <i class="fa fa-folder"></i>Просмотреть резюме </a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Отклонить</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
{% endblock javascripts %}